---
import Section from './Section.astro';
import Social from './Social.astro';

const site = Astro.site;
---

<style>
	.py-2 a {
		color: #1a73e8; /* Choose a color for your links, e.g., Google Blue */
		text-decoration: none; /* Remove underline from links */
	}

	.py-2 a:hover {
		text-decoration: underline; /* Underline on hover */
	}

	.highlight-yellow {
		color: #f1c40f; /* Yellow color for highlighted text */
	}

	.section-margin {
		margin-left: 30%; /* Adjust the margin value as needed */
	}
</style>

<Section class="section-margin">
	<br />
	<p class="text-4xl font-bold">Hello, I'm Abhinav Shripad 🏏</p>
	<div class="text-sm">
		<p class="py-2">
			<br />
			I'm currently a junior at IIT Delhi, pursuing a degree in <span class="highlight-yellow"
				>Computer Science</span
			>. My passion lies in exploring the intricacies of <span class="highlight-yellow"
				>algorithms</span
			>, <span class="highlight-yellow">discrete maths</span>, and <span class="highlight-yellow"
				>heuristical problems</span
			>. I'm passionate about applying mathematical concepts to solve complex problems in computer
			science.
		</p>
		<p class="py-2">
			My current interest lies in studying <span class="highlight-yellow"
				>Rapid Time Mixing in Markov Chains (COL727)</span
			> and <span class="highlight-yellow">SAT Solvers (COL876)</span>, which enhances my
			understanding of complex algorithmic methods. Additionally, I am exploring <span
				class="highlight-yellow">Machine Learning (ML)</span
			> and <span class="highlight-yellow">Deep Learning (DL)</span>, diving into these fields to
			broaden my technical expertise and apply innovative techniques to real-world problems.
		</p>
		<p class="py-2">
			Apart from academics, I'm passionate about sharing knowledge through writing and blogging.
			Currently, I am an executive at <a
				href="https://ancc-iitd.github.io/"
				target="_blank"
				rel="noopener noreferrer">ANCC</a
			>, the competitive programming club at IIT Delhi, and a coordinator at <a
				href="https://www.instagram.com/aries.iitd/"
				target="_blank"
				rel="noopener noreferrer">Aries</a
			>, the AI/ML club at IIT Delhi. I am also excited to share that I will be an incoming
			Quantative Research Intern at Quantbox's Singapore office for 2025 Summer.
		</p>
	</div>
	<br />
	<div class="flex">
		<Social href="https://github.com/33Arsenic75">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				class="h-4 w-4"
				fill="currentColor"
				viewBox="0 0 24 24"
			>
				<path
					d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
				></path>
			</svg>
		</Social>
		<Social href="https://www.linkedin.com/in/abhinav-shripad-a65a03259/">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				class="h-4 w-4"
				fill="currentColor"
				viewBox="0 0 24 24"
			>
				<path
					d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z"
				></path>
			</svg>
		</Social>
		<Social href="mailto:abhinav.shripad.cse.iitd@gmail.com">
			<svg viewBox="0 0 24 24" width="1.2em" height="1.2em" xmlns="http://www.w3.org/2000/svg">
				<path
					fill="currentColor"
					d="M12 13.065l-11.985-6.601v11.536c0 1.105.896 2 2 2h19.971c1.104 0 2-.895 2-2v-11.536l-11.986 6.601zm11.986-8.536v-.023c0-1.102-.898-2-2-2h-19.972c-1.103 0-2 .898-2 2v.023l11.987 6.602 11.985-6.602z"
				></path>
			</svg>
		</Social>
	</div>
</Section>
